<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <title>Help Page</title>
  <body>
    {{> header}}
    <p>Some text here</p>
    <header>
      <p>{{screamIt header}}</p>
    </header>
    {{> footer}}
  </body>
</html>
